

body{
    /*Witte kantjes van de webpagina afhalen*/ 
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: black;
}


h1 {
    font-family: 'Lato', sans-serif;
	color= #fff;
}

h2 {
    font-family: 'Lato', sans-serif;
	color= #ffffff;
}

h3{
font-size: 40;
font-family: 'Lato', sans-serif;
color: white;
}

h4{
font-size: 40;
font-family: 'Lato', sans-serif;
color: white;
}